{% load static %}
{% load i18n %}

<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'medapp/img/fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="PetarDM">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>MedicHelp</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'medapp/css/linearicons.css' %}" type="text/css">
			<link rel="stylesheet" href="{% static 'medapp/css/font-awesome.min.css' %}" type="text/css">
			<link rel="stylesheet" href="{% static 'medapp/css/magnific-popup.css' %}" type="text/css">
			<link rel="stylesheet" href="{% static 'medapp/css/nice-select.css' %}">
			<link rel="stylesheet" href="{% static 'medapp/css/https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %}" type="text/css">
			<link rel="stylesheet" href="{% static 'medapp/css/bootstrap.css' %}" type="text/css">
			<link rel="stylesheet" href="{% static 'medapp/css/main.css' %}" type="text/css">



			
		</head>
		<body>

			

			<!-- Start Header Area -->
			<header class="default-header">
				<div class="container">
						
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
								
							<div class="logo">
									<h4 class="text-uppercase">MedicHelp</h4>
									
								
							</div>

							
							<div class="main-menubar d-flex align-items-center">

								
								<nav class="hide">
									<a href="#home" id="homebtn">Home</a>
									<a href="#textus" id="textusbtn">Text Us</a> <!--id was "appointment-->
									<a href="#service" id="servicebtn">Services</a>
									<a href="#consultant" id="consultantbtn">Consultants</a>
									<a href="#blog" id="blogbtn">Blog</a>											
								</nav>
								
								
								<div class="menu-bar"><span class="lnr lnr-menu"></span>
								</div>

								<a href="#bg" data-reload onclick="timeFunction()"> <img  src="{% static 'medapp/img/bg.png' %}" width="30" height="30" hspace="5"> </a>
								<a href="#eng" data-reload onclick="timeFunction()"> <img  src="{% static 'medapp/img/uk.png' %}" width="30" height="30"> </a>

							</div>
							
							
						</div>
					</div>
					
				</div>
				
			</header>
			
			<!-- End Header Area -->

			{% if message %}
				<center>
					<h2>Thank you!</h2>
					<p>We have received your email and will respond shortly!</p>
				</center>
			{% else %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="container">
						<div class="row fullscreen align-items-center justify-content-center">
							<div class="banner-content col-lg-6 col-md-12">
								<h1 class="text-uppercase" id="hi">
									Find the right professional <br>
									for your needs
								</h1>
								<p>
										Visit our forum and join the community today!
								</p>
								<!--start login/register form-->
								
								<button class="primary-btn2 mt-20 text-uppercase"  onclick="window.location.href = '/forum/'" id="getstarted">Forum<span class="lnr lnr-arrow-right"></span></button>
									<!--data-toggle="modal" data-target="#modalLRForm" // was in button class above-->
								<!--end login/register form-->

							

							</div>
							<div class="col-lg-6 d-flex align-self-end img-right">
								<img class="img-fluid" src="{% static 'medapp/img/header-img.png' %}" alt="">
							</div>
						</div>
				</div>
			</section>
			<!-- End banner Area -->


			<!-- Start contact us Area -->
			<section class="about-area" id="textus"> <!--id was "appointment-->
				<div class="container-fluid">
					<div class="row d-flex justify-content-end align-items-center">
						<div class="col-lg-6 col-md-12 about-left no-padding">
							<img class="img-fluid" src="{% static 'medapp/img/about-img.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 col-md-12 about-right no-padding">
							<h1 id="ask">Ask us <br> a question</h1>
							
							
							<form class="contact-us" id="myForm" action="{% url 'medapp-home' %}" method="POST">
								{% csrf_token %}
								<div class="row">
								 		
							 			<div class="col-lg-6 d-flex flex-column">
											<input id="askemail" placeholder="E-mail" name="message-email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" class="form-control mt-20" required="" type="text" required>
										</div>
										<div class="col-lg-6 d-flex flex-column">
											<input name="message-title" id="asktopic" placeholder="Topic" class="single-in mt-20"  onblur="this.placeholder = 'Topic'" onfocus="this.placeholder= ''" type="text"  required>
										</div>
										<div class="col-lg-12 flex-column">
											<textarea class="form-control mt-20" id="askmessage" name="message-content" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
										</div>

										<div class="col-lg-12 d-flex justify-content-end send-btn">
											<button type="submit" class="submit-btn primary-btn mt-20 text-uppercase" id="btnsend">Send message <span class="lnr lnr-arrow-right"></span></button>
											<!--<span class="lnr lnr-arrow-right"></span>-->
										</div>
										
										<div class="alert-msg"></div>
									</div>
								</form>

								
								

							</div>
						</div>
					</div>
				</div>
			</section>

			
			<!-- End contact us Area -->

			<!-- Start feature Area -->
			<section class="feature-area section-gap" id="service">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="single-feature d-flex flex-row pb-30">
								<div class="icon">
										<span class="lnr lnr-users"></span>
									</div>
									<div class="desc">
										<h4 class="text-uppercase" id="servicetext6">Community</h4>
										<p>
												A welcoming community of people with similar problems and experiences.
										</p>
									</div>
							</div>
							<div class="single-feature d-flex flex-row pb-30">
								<div class="icon">
									<span class="lnr lnr-license"></span>
								</div>
								<div class="desc">
									<h4 class="text-uppercase" id="servicetext2">Certified medics</h4>
									<p>
											Receive the opinion of certified real life doctors, willing to help the users on our website get answers to all their questions.
									</p>
								</div>
							</div>
							<div class="single-feature d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-user"></span>
								</div>
								<div class="desc">
									<h4 class="text-uppercase" id="servicetext3">Personal accounts</h4>
									<p>
										 Create your own personal account to interract with others from.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-feature d-flex flex-row pb-30">
								<div class="icon">
									<span class="lnr lnr-heart-pulse"></span>
								</div>
								<div class="desc">
									<h4 class="text-uppercase" id="servicetext4">Stay healthy</h4>
									<p>
										Improve your medical knowledge with the help of our community and health articles, so you can be as healthy as possible all the time.
									</p>
								</div>
							</div>
							<div class="single-feature d-flex flex-row pb-30">
								<div class="icon">
									<span class="lnr lnr-smartphone"></span>
								</div>
								<div class="desc">
									<h4 class="text-uppercase" id="servicetext5">Mobile friendly</h4>
									<p>
										A mobile friendly design, so you can browse our website from anywhere.
									</p>
								</div>
							</div>
							<div class="single-feature d-flex flex-row">
								<div class="icon">
									<i class="fa  fa-usd  fa-3x" style="color: #84b195"; aria-hidden="True"></i>
								</div>
								<div class="desc">
									<h4 class="text-uppercase" id="servicetext">Free services</h4>
									<p>
										 All of the services presented on our website is completely free of charge for the users.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End feature Area -->


			

			<!-- Start consultans Area -->
			<section class="consultans-area section-gap" id="consultant">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-80 header-text">
							<h1 id="ourconsult">Our Consultants</h1>
							<p>
								Some of the many consultants who have voluntarily agreed to provide assistance to our websites users.
								Most of them have spent their entire careers dedicated to helping people find the health and medical information, support, and services they need .
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="http://127.0.0.1:8000/user/Michael_Smith" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="{% static 'medapp/img/c1.jpg' %}" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Michael Smith</h4>
								      		<p>
								      			Dermatologist
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="http://127.0.0.1:8000/user/Maya_Ivanova" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="{% static 'medapp/img/c2.jpg' %}" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Maya Ivanova</h4>
								      		<p>
								      			Dermatologist
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="http://127.0.0.1:8000/user/Jonathan_Smith" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="{% static 'medapp/img/c3.jpg' %}" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Jonathan Smith</h4>
								      		<p>
								      			Dermatologist
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="http://127.0.0.1:8000/user/Melissa_Robertson" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="{% static 'medapp/img/c4.jpg' %}" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Melissa Robertson</h4>
								      		<p>
								      			Neurologist
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>

					</div>
				</div>
			</section>
		

			<!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text">
							<h1 id="articlenew">Latest articles</h1>
							<p>
									A selection of the latest news articles, picked by our moderators.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="single-blog col-lg-4 col-md-4">
							<a href="https://www.bbc.com/news/health-53077879">	
								<img class="f-img img-fluid mx-auto" href="https://www.bbc.com/news/health-53077879" src="{% static 'medapp/img/b1.jpg' %}" alt=""> </a>
										<h4>
											<a href="https://www.bbc.com/news/health-53077879" id="art1">What is dexamethasone and how does it work?</a>
										</h4>
										<p>
											An anti-inflammatory drug called dexamethasone has been hailed as a ground-breaking treatment for hospital patients seriously ill with Covid-19.
											A UK trial showed the drug could save lives - the first internationally to do so - and it can be used in the NHS immediately. 
										</p>
								<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
										<div>
											<img class="img-fluid" src="{% static 'medapp/img/author.png' %}" alt="">
											<a href="https://www.bbc.com/news" id="author1"><span>BBC news</span></a>
										</div>
										<div class="meta">
											10.05.2019
										</div>
								</div>
						</div>
						
						<div class="single-blog col-lg-4 col-md-4">
							<a href="https://www.who.int/news-room/feature-stories/detail/who-manifesto-for-a-healthy-recovery-from-covid-19"><img class="f-img img-fluid mx-auto" src="{% static 'medapp/img/b2.jpg' %}" alt=""></a>
							<h4>
								<a href="https://www.who.int/news-room/feature-stories/detail/who-manifesto-for-a-healthy-recovery-from-covid-19" id="art2">What we have learned from COVID-19</a>
							</h4>
							<p>
								COVID-19 is the greatest global shock in decades.  Hundreds of thousands of lives have been lost, and the world’s economy likely faces the worst recession since the 1930s. 
								The resulting loss of employment and income will cause further damage to livelihoods, health, and sustainable development.
							</p>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="{% static 'medapp/img/author2.png' %}" alt="">
									<a href="https://www.who.int" id="author2"><span>World health organization</span></a>
								</div>
								<div class="meta">
									14.05.2019
								</div>
							</div>
						</div>
						
						<div class="single-blog col-lg-4 col-md-4">
								<a href="https://www.sciencedaily.com/releases/2020/06/200617121500.htm"><img class="f-img img-fluid mx-auto" src="{% static 'medapp/img/b3.jpg' %}" alt=""></a>
							<h4>
								<a href="https://www.sciencedaily.com/releases/2020/06/200617121500.htm" id="art3">Light-activated 'CRISPR' triggers precision gene editing and super-fast DNA repair</a>
							</h4>
							<p>
								In a series of experiments using human cancer cell lines, scientists say they have successfully used light as a trigger to make precise cuts in genomic material rapidly, using a molecular scalpel known as CRISPR.</p>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="{% static 'medapp/img/author3.png' %}" alt="">
									<a href="https://www.sciencedaily.com" id="author3"><span>ScienceDaily</span></a>
								</div>
								<div class="meta">
									13.05.2019
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end blog Area -->

			{% endif %}

			<!-- start footer Area
			<footer class="footer-area section-gap">
				
			</footer>
			 End footer Area -->

			<script src="{% static 'medapp/js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="{% static 'medapp/js/vendor/bootstrap.min.js' %}"></script>
			<script src="{% static 'medapp/js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'medapp/js/jquery.nice-select.min.js' %}"></script>
			<script src="{% static 'medapp/js/jquery.sticky.js' %}"></script>
			<script src="{% static 'medapp/js/parallax.min.js' %}"></script>
			<script src="{% static 'medapp/js/https://code.jquery.com/ui/1.12.1/jquery-ui.js' %}"></script>
			<script src="{% static 'medapp/js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'medapp/js/waypoints.min.js' %}"></script>
			<script src="{% static 'medapp/js/jquery.counterup.min.js' %}"></script>
			<script src="{% static 'medapp/js/main.js' %}"></script>
			<script src="{% static 'medapp/js/languages.js' %}"> </script>
			<script src="{% static 'medapp/js/authentication.js' %}"></script>
			

	
			</script>
		</body>
	</html>
